@import "../assets/086ee623dc5facfe1545894c42f50d8ec74859c9.jpg";

background{
    background: url("../assets/086ee623dc5facfe1545894c42f50d8ec74859c9.jpg") no-repeat center center/cover;
    height: 100svh;
    width: 100svw;
}