.container{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.sand{
    position: absolute;
    width: 100vw;
    height: 50%;
    z-index: 1;
    bottom: 0%;
    overflow: hidden;
}

.sandImg{

    width: 100%;
    height: 100%;
}

.clouds{
    width: 100%;
    height: auto;
    position: absolute;
    top: 30%;
}
.cloudTwo{
    margin-left: 40%;
}
