// @use "/src/assets/global.scss" as *;

.content {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 100svh;
  width: 30vw;
  padding: 0 200px;
  // margin-bottom: 5vw;
  background-image: url(/instructionsScroll.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  .headingCont {
    display: flex;
    align-items: center;
    justify-content: center;
  
    .heading {
      margin: 3vw 0 0;
      color: #ffffff;
      font-family: "Syamsiah", sans-serif;
      font-weight: 500;
      color: #6C1700;
      font-size: 5.5rem;
      margin: 15vh 0 0;
    }
  }

  h5 {
    align-self: flex-start;
    font-family: "Cinzel", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #38170B;
    margin: 0 0 0 30px;
  }

  .instr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    list-style: none;
    margin: 0 0 0 20px;

    li {
      position: relative;
      padding-left: 34px;
      color: #432611;
      text-align: left;
      font-family: "EB", sans-serif;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0.25em;
        width: 22px;
        height: 22px;
        background: url("/game-icons_magic-lamp.svg") center / contain no-repeat;
      }

      a {
        color: #432611;
        font-family: "EB", sans-serif;
      }

      span {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .googleButton {
    cursor: pointer;
    background: center / cover no-repeat url(/googleReg.svg);
    border: none;
    z-index: 4;
    transition: filter 0.3s;
    width: 20vw;
    height: 3.216vw;
    margin-top: 20px;
    
    &:hover {
      filter: brightness(0.8)
    }
    &:focus {
      outline: none;
    }
  }
}

@media (max-width: 1200px) and (max-aspect-ratio: 1.45) {
  .content {
    margin-top: 3vh;
    height: 100svh;
    .headingCont {
      margin: 1.4 * 1vw 0 1.4 * 3vw 0;
      img {
        height: 4vw;
      }
      .heading {
        font-size: clamp(1.5rem, 3.5vw + 0.1rem, 5rem);
      }
    }
    .instr {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 12px;
      list-style: none;
      margin: 0 0 0 20px;

      li {
        position: relative;
        padding-left: 34px;
        color: #432611;
        text-align: left;
        font-family: "EB", sans-serif;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0.25em;
          width: 22px;
          height: 22px;
          background: url("/game-icons_magic-lamp.svg") center / contain no-repeat;
        }

        a {
          color: #432611;
          font-family: "EB", sans-serif;
        }

        span {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
    .googleButton {
      margin-top: clamp(2rem, 2vw + 2rem, 4rem);
      font-size: clamp(1rem, 3vw + 0.1rem, 5rem);
      padding: clamp(1rem, 2vw + 0.5rem, 2rem) clamp(2rem, 6vw + 0.5rem, 8rem)
        clamp(1rem, 2vw + 0.5rem, 2rem) clamp(1rem, 2vw + 0.5rem, 2rem);
    }
  }
}
@media (max-width: 1200px) and (max-aspect-ratio: 0.75) {
  .content {
    margin-top: 3vh;
    .headingCont {
      margin: 1.4 * 1vw 0 1.4 * 3vw 0;
      img {
        height: 3vw;
      }
      .heading {
        font-size: clamp(1rem, 5vw + 0.1rem, 8rem);
      }
    }
    .instr {
      width: 80vw;
      max-height: 80svh;
      gap: 4vw;
      list-style: none;

      li {
        position: relative;
        padding-left: 6vw;
        color: #432611;
        text-align: left;
        font: 400 clamp(1rem, 4vw + 0.1rem, 4rem) "Shippori Mincho";

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0.25em;
          width: 4vw;
          height: 4vw;
          background: url("/game-icons_magic-lamp.svg") center / contain no-repeat;
        }
      }
    }
    .googleButton {
      margin-top: clamp(1rem, 2vw + 0rem, 3rem);
      font-size: clamp(1rem, 2vw + 0.1rem, 1.3rem);
      padding: clamp(1rem, 2vw + 0.5rem, 2rem) clamp(2rem, 4vw + 0.5rem, 6rem)
        clamp(1rem, 2vw + 0.5rem, 2rem) clamp(1rem, 2vw + 0.5rem, 2rem);
    }
  }
}