body, index, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow:none;
  overscroll-behavior: none;
}

img {
  /* Prevent text/image selection highlight */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;     /* IE 10 and Edge */
  user-select: none;         /* Standard syntax */

  /* Prevent ghost image dragging */
  -webkit-user-drag: none;
}

a {
  -webkit-user-drag: none;
}

@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Almalik";
  src: url(./assets/fonts/Almalik.otf);
}

@font-face {
  font-family: "Ramadhan";
  src: url(./assets/fonts/Lentera\ Ramadhan.ttf);
}

@font-face {
  font-family: "Syamsiah";
  src: url(./assets/fonts/Syamsiah\ Arabic.ttf);
}

@font-face {
  font-family: "Cinzel";
  src: url(./assets/fonts/Cinzel-VariableFont_wght.ttf);
}

@font-face {
  font-family: "EB";
  src: url(./assets/fonts/EBGaramond-Medium.ttf);
}

@font-face {
  font-family: "Dancing Script";
  src: url(./assets/fonts/DancingScript-VariableFont_wght.ttf);
}


@font-face {
  font-family: "EBGaramond";
  src: url(./assets/fonts/EBGaramond-Medium.ttf);
}
